.header {
  position: sticky;
  top: 0;
  z-index: 10;
  transition: all 0.3s ease;
}
.scrolled {
  transition: all 0.3s ease;
  background-color: #19161ebb;
  padding: 0.5rem 10rem;
  box-shadow: 0 0 10px #19161e;
}

.nav {
  font-family: "aldrich-regular";
  color: aliceblue;
}

.nav__menuBar {
}
.nav__menuList {
  display: flex;
  gap: 2.5rem;
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.nav__item {
  transition: all 0.3s ease;
}
.nav__item:hover {
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 5px #fff, 0 0 10px #fff,
    0 0 0px #fff, 0 0 0px #fff;
}
.nav__item.activeLink {
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 5px #fff, 0 0 10px #fff,
    0 0 0px #fff, 0 0 0px #fff;
}

@media screen and (max-width: 767px) {
  .nav {
  }
  .nav__menuBar {
    display: flex;
    flex-direction: column;
    row-gap: 0.3rem;
    cursor: pointer;
  }
  .nav__menuBar div {
    width: 40px;
    height: 0.2rem;
    background-color: #fff;
    border-radius: 1px;
    z-index: 10;
  }
  .nav__menuList {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    top: 12vh;
    width: 100%;
    top: -100vh;
    padding: 1.5rem 1rem;
    /* min-height: calc(100vh - 12vh); */
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.776);
    transition: all 0.5s ease;
    opacity: 0;
    z-index: -1;
  }
  .nav__menuList.active {
    transition: all 0.5s ease;
    top: 0;
    opacity: 1;
    z-index: 9;
  }
  .nav__item {
    position: relative;
  }
  .nav__item.activeLink {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 5px #fff, 0 0 10px #fff,
      0 0 0px #fff, 0 0 0px #fff;
  }
}
