.container {
  width: 100%;
  overflow: hidden;
}

@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.container__title {
  display: flex;
  flex-direction: row;
  width: 200%;
  /* animation: scroll 40s linear infinite; */
}

.titleAndMore {
  font-family: "Aldrich-Regular";
  text-shadow: -30px 20px 3px rgba(0, 0, 0, 0.25);
  font-size: 3rem;
  color: aliceblue;
  text-align: center;
  width: 100%;
  color: #ffffff;
  letter-spacing: 0.2rem;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 5px #fff, 0 0 10px #fff,
    0 0 0px #fff, 0 0 0px #fff;
}
.titleName {
  color: #3d324b;
  text-shadow: 0 0 5px #3d324b, 0 0 10px #3d324b, 0 0 5px #3d324b,
    0 0 10px #3d324b, 0 0 0px #3d324b, 0 0 0px #3d324b;
}

.container__infosMore {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5rem 0rem;
  position: relative;
  width: 70%;
  margin: 0rem auto;
}

/*! MOBILE */
@media screen and (max-width: 767px) {
  .titleAndMore {
    font-size: 1.5rem;
    color: aliceblue;
    text-align: center;
    width: 100%;
  }
}

/*! TABLETTE */
@media screen and (min-width: 768px) and (max-width: 1280px) {
  .titleAndMore {
    font-size: 2.5rem;
    text-align: center;
    width: 100%;
  }
  .container__infosMore {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    padding: 5rem 5rem;
  }
  .container__description {
    width: 100%;
    font-size: 0.7rem;
  }
}
